* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

section {
    margin: 12px 12px;
    border: #000000;
}

input {
    width: 300px;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #529ff2;
}

ul {
    list-style-type: none; 
    padding: 0;
}

li {
    margin-bottom: 10px;
}